/* reset */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .logo {
   --main-color: rgb(96, 105, 96);
   --main-font: "Lora", serif;
   --primary-font: "Roboto", sans-serif;
 }

 /* nav start */

 nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-family: var(--primary-font);
  font-weight: bold;
 }

.logo {
  margin-left: 5rem;
}

/* header start */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 2rem;
}

.main-heading {
  font-size: 4rem;
  font-family: var(--main-color);
  transform: translateY(-40px);
  color: rgba(58, 57, 57, 0.888);
  line-height: 5rem;
}
.main-heading span {
  color: black;

}

.primary-heading {
  max-width: 500px;
  font-family: var(--primary-font);
  line-height: 25px;
  margin-bottom: 1rem;
  color: rgb(101, 98, 98);
}

.btn-fill {
  background: var(--main-color);
  background: green;
  color : var(--main-color);
  border: none;
  padding: 12px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;

}

.btn-fill:hover {
  background-color: rgb(116, 110, 110);
   border-radius: 4rem; 
  color: var(--main-color);
   
}

.btn-outline-active {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background: green;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-outline-active:hover {
  background-color: rgb(100, 92, 92);
    border-radius: 4rem;
    color: var(--main-color);
}
.img-container {
  border-radius: 50%;
  /* box-shadow: 10px 10px 10px 10px #bcbaba; */
 margin-right: 2rem;
}

.header-img {
  border-radius: 100%;
  background: url(Images/woman-7092612_1280.jpg);
  background-position: left;
  background-size: cover;
  width: 400px;
  height: 400px;
  margin-left: 15rem;
  box-shadow: 10px 10px 10px 10px #bcbaba;
}

/* section 1 start */
.section-one{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 7rem;
}

.section-one-img {
  background: url(Images/night-7552210_1280.jpg);
  background-position: 0vmax;
  background-size: cover;
  margin-left: 2rem;
 
}

/* product start */
.products {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .product-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 3rem;
}
.products .product-categories button{
  margin-right: 20px;
  margin-bottom: 2rem;
}
.products .product-item-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 60rem;
}
.products .product-item-container .item {
  margin: 20px;
}
.products .product-item-container .item-layer {
  background: #ebf1f0;
  padding: 40px;
  margin-right: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.products .product-item-container .item-layer img{
  width: 150px;
  height: 200px;
}
.products .product-item-container .item .item-name {
  font-family: var(--primary-font);
  margin-bottom: 10px;
}
.products .product-item-container .item .item-price {
  font-family: var(--primary-font);
  margin-bottom: 10px;
}
.products .product-item-container .item .item-price {
  font-family: var(--primary-font);
  margin: 10px;
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

/* customer-review */
.customers-review .customer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
    
}


